*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} /* Petit Reset des familles :) */

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #363636;
} /* Centre le canvas */